<%- include ../partials/header.ejs %>


<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">

                <input type="hidden" name="questionNum" value="<%=questionNum%>">
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the title of the survey"
                    name="Title" required>
                </div>
                
                <% for(var i = 0; i < questionNum; i++) {%>

                <div class="form-group">
                    <label for="<%=i+1%>TextArea">Question <%=i+1%></label>
                    <textarea type="text" class="form-control"
                    id="<%=i+1%>TextArea"
                    placeholder="Enter question <%=i+1%> of the survey"
                    name="Question<%=i+1%>" required></textarea>
                </div>
                
                <% } %>

                <button class="btn btn-primary" type="submit" formaction="newquestion">
                    Add Question</button>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/surveys" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/footer.ejs %>