<%- include ../partials/header.ejs %>


<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the title of the survey"
                    name="Title" required
                    value="<%= survey.Title %>">
                </div>
                
                <div class="form-group">
                    <label for="qoneTextArea">Question One</label>
                    <textarea type="text" class="form-control"
                    id="qoneTextArea"
                    placeholder="Enter the first question of the survey"
                    name="QuestionOne" required><%= survey.QuestionOne.Question %></textarea>
                </div>
              
                <div class="form-group">
                    <label for="qtwoTextArea">Question Two</label>
                    <textarea type="text" class="form-control"
                    id="qtwoTextArea"
                    placeholder="Enter the second question of the survey"
                    name="QuestionTwo" required><%= survey.QuestionTwo.Question %></textarea>
                </div>

                <div class="form-group">
                    <label for="qthreeTextArea">Question Three</label>
                    <textarea type="text" class="form-control"
                    id="qthreeTextArea"
                    placeholder="Enter the third question of the survey"
                    name="QuestionThree" required><%= survey.QuestionThree.Question %></textarea>
                </div>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/surveys" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/footer.ejs %>